@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menuBar-box-shadow;
  background-color: $menuBar-bg;

  :global(.container)> :global(.row) {
    height: 84px;
  }

  .navIcon {
    display: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: none;
    svg {
      color: $orange;
    }
  }

  .fluid {
    display: flex;
    flex-direction: row;
    padding-top: 1px;
    padding-bottom: 1px;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  .navIcon {
    display: none;

    @media (max-width: 480px) {
      display: inline;
      margin-right: 10px;
    }
  }

  .inputsWidth {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
        margin: 0;

      }
    }

    a {
      color: $menuBar-text;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $white;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $menuBar-active-border;
        color: $white;
        border-color: $menuBar-active-border;
      }

      &.active {
        border-color: $menuBar-clicked-border;
      }
    }

    @media (max-width: 480px) {
      a {
        display: block;
        width: 100%;
      }

      ul {
        display: none;
        flex-direction: column;
        width: 100%;

        &.visible {
          display: flex;
        }
      }
    }
  }

  .innerWrapperSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
