@import "../../../styles/settings.scss";

.root {
  background-color: $companyClaim-header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .align-items-center {
    display: flex;
    flex: 0 0 33.3333%;
  }

  @media (max-width: 413px) {
    .align-items-center {
      position: relative;
      height: 50%;
      width:100%;
      box-sizing: border-box;
    }
    .phoneNumber {
      position: absolute;
      left: 50%;
      top: 110%;
      position: sticky;
      height: 40%;
      padding: 3%;
      margin-bottom: 1%;
    }
    .logo {
      position: absolute;
      width: 50%;
    }
    .cart {
      top: -5%;
      right: 0;
    }
  }

  .phoneNumber {
    padding-top: 2%;
    p {
      margin: 0;
      font-size: 17px;
      line-height: 35px;
      color: $companyClaim-phone-text;
      font-weight: 500;

      @media (max-width: 413px) {
        padding-top: 2%;
        font-size: 14px;
        line-height: 14px;
        text-align: right;
        line-break: normal;
      }

      .icon {
        font-size: 32px;
        color: $companyClaim-cartIcon;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 0.5rem;
        margin-left: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $companyClaim-cartBox;
      right: 10%;

      .cartIcon {
        background-color: $companyClaim-cartIcon;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $companyClaim-header-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $companyClaim-cartCounter-text;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($companyClaim-cartIcon, 10%);
        }
      }
    }
  }
}
