@import "../../../styles/settings.scss";

.stars {
  a {
    text-decoration: none;
    color: black; // Domyślny kolor gwiazdek
  }

  .goldStar {
    color: gold; // Kolor gwiazdek pełnych (złotych)
  }

  .star {
    color: black; // Kolor gwiazdek po najechaniu
    &.gold {
      color: gold; // Kolor gwiazdek po kliknięciu
    }

    &:hover {
      color: gold; // Kolor gwiazdek po najechaniu
    }
  }
}