@import "../../../styles/settings.scss";

.root {
  .hotdealsBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $promoted-hotdeals-background;
    color: $promoted-hotdeals-text-color;

    span {
      padding: 0 0 0 1rem;
      text-transform: uppercase;
      font-size: 20px;
    }

    .dots {
      ul {
        margin: 0;
        list-style: none;
        background-color: $promoted-hotdeals-background;

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $promoted-dots-background;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $button-hover-bg;
            }
          }

          .activeDot {
            background-color: $button-hover-bg;
          }
        }
      }
    }
  }

  .productBox {
    height: 400px;
  }

  .sliderWrapper {
    height: 450px;
    width: 100%;

    .photo {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }

      .photoInner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background: $promoted-slider-background;
        color: $promoted-slider-text-color;

        h2 {
          font-size: 50px;
          font-weight: 300;
          text-transform: uppercase;
        }

        span {
          font-weight: 700;
          text-transform: uppercase;
        }

        p {
          font-size: 24px;
          text-transform: uppercase;
        }

        .shopButton {
          position: absolute;
          right: 50%;
          bottom: 0%;
          transform: translate(50%, 50%);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 55px;
          width: 135px;
          background: $button-hover;
          border: none;
          border-radius: 3px;
          text-transform: uppercase;
          font-weight: 600;
          transition: 0.3s;

          &:hover {
            background: $orange;
            text-decoration: none;
            color: $button-hover;
          }
        }
      }
    }

    .arrays {
      width: 100%;
      display: flex;

      .arrayButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38.1px;
        width: 50%;
        background-color: $promoted-arrays-background;
        color: $button-text;
        font-size: 16px;
        border: 1px solid $promoted-arrays-background;
        transition: 0.3s;

        &:hover {
          background-color: $button-hover-bg;
          border: 1px solid $button-hover-bg;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 500ms ease-out;
}

.fadeOut {
  animation: fadeOut 500ms ease-out;
}
