@import "../../../styles/settings.scss";

.hotdealsBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #2a2a2a;
  color: #fff;

  span {
    padding: 0 0 0 1rem;
    text-transform: uppercase;
    font-size: 20px;
  }

  .dots {
    ul {
      margin: 0;
      list-style: none;
      background-color: #2a2a2a;

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: #e1e1e1;
          font-size: 0;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
