@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-background;
  border: 1px solid $productBox-border;
  margin-bottom: 2rem;
  @extend %hover-effect;

  &:hover {
    .photo {
      .buttons {
        visibility: visible;
        transform: translateY(0);
      }
    }
    .actions {
      .price {
        .priceButton {
          background-color: $product-box-button-hover;
        }
      }
    }
  }

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $productBox-photo-background;
      position: center;
      repeat: no-repeat;
      size: cover;
    }
    overflow: hidden;
    align-items: flex-end;
    transition: 1s;

    &:hover {
      .buttonsPromoted {
        @extend %hover-effect;
        transform: translate(-50%, -50%);
        top: 50%;
      }
      .timeCounter {
        @extend %hover-effect;
        transform: translateY(0);
      }
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-sale-background;
      border-radius: 50%;
      color: $productBox-sale-text;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      transition: transform $animation-duration ease-in-out;
      transform: translateY(100%);
    }
    .buttonsPromoted {
      position: absolute;
      left: 50%;
      top: -100%;
      transform: translate(-50%, 200px);
    }

    .timeCounter {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 5px;
      transform: translateY(200px);

      .circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 22%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: $promoted-time-counter-background;
        color: $promoted-time-counter-text-color;
        margin-bottom: 2%;

        .number {
          font-size: 24px;
        }
        .timeUnit {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productBox-content-title;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
   }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-box-line;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $product-box-decorLine;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .outlines {
      .active {
        background-color: $product-box-button-hover;
        color: $productBox-sale-text;
      }
    }
  }
  .price {
    display: flex;
  }
}
