@import "../../../../styles/settings.scss";

.navi {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $galleryNav-border;
    border-right: 1px solid $galleryNav-border;
    border-left: 1px solid $galleryNav-border;
    border-radius: 0.25rem;
    text-align: center;

    .list {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        li {
            width:25%;
        }

        .navLink {
            text-transform: uppercase;
            display: block;
            padding: 10px 0;
            text-decoration: none;
            color: $galleryNav-text;
            font-weight: 500;
            background-color: $galleryNav-background;
            border-bottom: 1px solid $galleryNav-border;
            @extend %hover-effect;

            &:hover,
            &.active {
                border-top: 3px solid $gallery-hover;
                color: $orange;
                background-color: transparent;
                border-bottom: none;
            }
        }
    }
}