@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    & > * {
      border-bottom: 4px solid $newFurniture-panelBar-border;
    }

    .heading {
      position: relative;

      h3 {
        color: $newFurniture-title;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $newFurniture-decorLine;
      }
    }
}

.sliderWrapper {
    height: 450px;
    width: 100%;

    .photo {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }

      .photoInner {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $promoted-slider-text-color;
        padding-left: 30px;
        

        h2 {
          font-size: 46px;
          font-weight: 600;
          text-transform: uppercase;
          color: grey;
          letter-spacing: 2px;
        }

        span {
            padding-right: 10px;
            font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          color: black;
          letter-spacing: 2px;
        }

        p {
          font-size: 46px;
          color: $orange;
          font-weight: 600;
          letter-spacing: 2px;
        }

        .shopButton {
            @extend %hover-effect;
            position: absolute;
            top: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55px;
            width: 135px;
            background: grey;
            border: none;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: 600;
            color: white;
  
            &:hover {
              background: $button-hover-bg;
              text-decoration: none;
              color: $button-hover; 
            }
          }
        }
    }
    }
}