@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $form-text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
||||||||| 679070c
=========
    font-size: 14px;{
    {>>>>>>>>> Temporary merge branch 2

    .dropdown {
      display: none;
      background-color: $productSearch-icon;
      margin-top: 10px;
      position: absolute;
      left: 0;
      border: 1px solid $form-border-color;
      width: 100%;

      li {
        display: block;
        padding: 5px;
        border-bottom: 1px solid $form-border-color;
      }

      &:last-child {
        border-bottom: 0px;
      }
||||||||| 679070c
      left: 10px;
      z-index: 0;
=========
      left: 10px;
      z-index: 0;

      @media (max-width: 480px) {
        padding-right: 2px;
      }
>>>>>>>>> Temporary merge branch 2
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    .categoryMenu {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      }

      &:hover .dropdown {
      display: block;
      }

      .icon:first-child {
        color: $productSearch-icon;
        position: absolute;
        left: 10px;
        z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
||||||||| 679070c
=========
      outline: none;

      option {
        &:hover {
          background-color: $menuBar-active-bg;
        }
      }

      &:hover {
        color: $menuBar-active-bg;
      }

      li {
        display: none;
        cursor: grab;
        font-weight: 400;
        font-size: 14px;

        &:hover {
          background-color: $menuBar-active-bg;
        }
      }

      @media (max-width: 480px) {
        padding: 5px 30px 5px 24px;
      }
>>>>>>>>> Temporary merge branch 2
    }

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  .flexColumn {
    display: flex;
    flex-direction: column;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 15px;
      outline: none;

      &::placeholder {
        color: $form-text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
}

