@import "../../../../styles/settings.scss";

.buttons {
    top: 30%;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    & > * {
      display: block;
      margin-bottom: 10px;
      margin-left: 10px;
      background-color: transparent;

      &:not(.noHover):hover {
        border-color: $gallery-hover;
        color: $gallery-hover;
        background-color: transparent;
      }
      &:hover + .tooltipText {
        visibility: visible;
      }
    }
  }

  .tooltip {
    position: absolute;
    display: inline-block;
  }

  .tooltipText {
    visibility: hidden;
    white-space: nowrap;
    width: fit-content;
    padding: 5px;
    background-color: $gallery-tooltip-background;
    color: $gallery-tooltip-text;
    text-align: center;
    position: absolute;
    font-size: 12px;

      &:first-of-type {
        top: 2px;
        left: 103%;
        &::before {
          position: absolute;
          content: "";
          top: 36%;
          width: 8px;
          height: 8px;
          right: 96%;
          background-color: $gallery-tooltip-background;
          z-index: 1;
          transform: rotate(45deg);
        }
      }

      &:nth-of-type(2) {
        top: 48px;
        left: 103%;
        &::before {
          position: absolute;
          content: "";
          top: 36%;
          width: 8px;
          height: 8px;
          right: 96%;
          background-color: $gallery-tooltip-background;
          z-index: 1;
          transform: rotate(45deg);
        }
      }

      &:nth-of-type(3) {
        top: 90px;
        left: 103%;
        &::before {
          position: absolute;
          content: "";
          top: 36%;
          width: 8px;
          height: 8px;
          right: 96%;
          background-color: $gallery-tooltip-background;
          z-index: 1;
          transform: rotate(45deg);
        }
      }

      &:nth-of-type(4) {
        top: 132px;
        left: 103%;
        &::before {
          position: absolute;
          content: "";
          top: 36%;
          width: 8px;
          height: 8px;
          right: 96%;
          background-color: $gallery-tooltip-background;
          z-index: 1;
          transform: rotate(45deg);
        }
      }
  }

    .active {
      background-color: rgba($product-box-button-hover, 0.8);
      color: $productBox-sale-text;
    }
