@import "../../../../styles/settings.scss";


.pricesCircle {
    position: absolute;
    top: 60%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba($promoted-time-counter-background, 0.5);
    color: $promoted-time-counter-text-color;
    margin-bottom: 2%;

    .oldPrice{
        text-decoration: line-through;
    }
}